* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #0f0f0f; 
  color: #e0e0e0; 
  text-align: center;
}

header {
  padding: 20px;
}

header h1 {
  color: #ffffff;
}

header p {
  color: #aaaaaa;
}
 
.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 15px;
  padding: 20px;
}

/* img cuadradas */
.galeria img {
  width: 100%;
  aspect-ratio: 1 / 1; 
  object-fit: cover; 
  border-radius: 10px;
  cursor: pointer;
}
.galeria img:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 25px rgba(255,255,255,0.1); 
}

.visor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.95); 
  display: none;
  justify-content: center;
  align-items: center;
}

.imagen-grande {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255,255,255,0.1);
}

.boton-cerrar {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #ffffff;
  font-size: 40px;
  cursor: pointer;
}

.boton-anterior {
  position: absolute;
  left: 20px;
  top: 50%;
  font-size: 40px;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.boton-siguiente {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 40px;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.boton-anterior:hover,
.boton-siguiente:hover,
.boton-cerrar:hover {
  color: #bbbbbb; 
}

.contador {
  position: absolute;
  bottom: 20px;
  color: #cccccc;
}

footer {
  margin-top: 20px;
  padding: 15px;
  color: #777;
}

@media (max-width: 600px) {
  .galeria img {
    height: 120px;
  }

  .imagen-grande {
    max-width: 95%;
  }
}

@media (max-width: 600px) {
  .galeria {
    grid-template-columns: 1fr; 
  }
}